html {
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

p {
    color: black;
}

header, footer {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

footer {
    border-top: 1px solid black;
}

header h1, footer h1 {
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}

header a, footer a {
    align-items: center;
    text-decoration: none;
    color: black;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.leftcolumn {
    float: left;
} 

.rightcolumn {
    float: right;
}

.centercolumn {
    float: center;
}

.bottomnav {
    width: 30%;
}

.topnav, .bottomnav {
    align-items: center;
    text-align: center;
    padding-top: 15px;
    height: 40px;
}

.topnav a, .bottomnav a {
    font-size: 18px;
    text-align: center;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover, .bottomnav a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.bottomnav ul, .thumbdiv ul {
    padding: 0;
    list-style-type: none;
}

.bottomnav li {
    margin-bottom: 10px;
}

#backgroundimage {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

#topicon {
    width: 50px; 
    height: 50px;
    padding-left: 10px;
}

/* Thumbnail listing */
.thumbdiv {
    justify-content: center;
    align-items: center;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.thumb {
    margin: 20px;
    width: 800px;
    height: 200px;
    overflow: hidden;
}

.thumblist li:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #c8c8c8;
  }

.thumb .leftcolumn {
    width: 60%;
}

.thumb:hover h3 {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.thumb img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
}

.thumb h5 {
    color: #707070;
}

.notactive {
    color: black;
}

.notactive:hover h3 {
    text-decoration: none;
}

/* Thumbnail navigation */
.thumbnav {
    margin: 20px;
    width: 800px;
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #c8c8c8;
}

.thumbnav li {
    float: left;
}

.thumbnav li a {
    display: block;
    color: #707070;
    border-bottom: 0px solid black;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

.thumbnav li a:hover {
    color: black;
}

.thumbnav li a.active {
    color: black;
    border-bottom: 1px solid black;
}

/* Profile information */
.profile {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2.5px solid black;
}

.profiletext {
    text-align: center;
    margin: 20px;
}